<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jsp_pro01</display-name>
  <!-- 원래는 아래와 같은 식으로 매핑했음  web.xml 파일을 가지고 url주소를 매핑함 -->
  
  <servlet> <!-- <servlet>태그의 servlet-name은 중복되면 안 된다.-->
  <servlet-name>MController</servlet-name>	<!-- 얘는 main.controller.MainController 에 연결이 되어 있음 -->
  	<servlet-class>main.controller.MainController</servlet-class><!--  해당 서블릿이 등록된 클래스를 찾아간다. -->
  </servlet>
  <servlet-mapping> <!--  똑같은 servlet-name을 참조할 수 있다. -->
  	<servlet-name>MController</servlet-name> <!-- servlet-name : url-pattern의 이름에 해당한다. 위에 있는 servlet-name을 참조한다.-->
  	<url-pattern>/MainController</url-pattern> <!--r url-pattern : url 에 Path 에 해당하여 context root 뒤에 나온다.-->
  </servlet-mapping>
 
  <filter>
  		<filter-name>EncodingFilter</filter-name>
  		<filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  		<filter-name>EncodingFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  </filter-mapping>
 
 <!--  에러페이지 보내기 -> 어디에 어떤 문제가 발생했는지 확인할 수 없음.. 개발단계에서는 별로임
 	<error-page>
 		<error-code>404</error-code>
 		<location>/WEB-INF/error/404.html</location> 404에러 페이지가 발생하면 미리 준비한 에러 코드를 띄어주는 거다. 
 	</error-page>
  
  
  <error-page>
  		<exception-type>java.lang.NullPointerException</exception-type>
  		<location>/WEB-INF/error/exception.html</location>  반드시 html 일 필요는 없지만 에러페이지는 보통 정적인 페이지라서 html로 한 거임 
  </error-page>
  -->
  
  <welcome-file-list> <!--  기본페이지 설정하기 -->
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>