@charset "UTF-8";
* {
	box-sizing: border-box;
	margin: 0;	padding: 0;
}

.test1 > p {
	display: inline-block;
	vertical-align: top;	/*글자가 많으면 box가 자꾸 위치가 변경됨 -> 이거 해주면 변경 x*/
	width: 200px;
	height: 200px;
	padding: 12px;
	margin: 8px;
	border: 1px solid black;
}

.test1 > .f-right {	
	float: right; 			/*right 라고 지정한 요소만 맨 오른쪽으로 이동*/
}

.test2 > p {
	display: inline-block;
	vertical-align: top;	
	width: 200px;
	height: 200px;
	padding: 12px;
	margin: 8px;
	border: 1px solid black;
}

.test2 > .f-left {	
	float: left; 			/*left 라고 지정한 요소만 맨 왼쪽으로 이동*/
}

.test3 .box {
	width: 48px;
	height: 48px;
	background-color: red;
	float: right;			/*블록이지만 다른 요소에 영향을 미치지 않도록 한다.*/
	clear: both;
}

.test4 section {
	width: 75%;
	height: 360px;
	background-color: lightcyan;
	display: inline-block;
}
.test4 aside {
	width: 25%;
	height: 360px;
	background-color: lightcoral;
	float: right;
}

.test5 section {
	width: 50%;
	height: 360px;
	background-color: lightcyan;
	display: inline-block;		/*이걸 꼭 해줘야 함 안 그럼 영역이 이상한 곳으로 감*/
}
.test5 aside {
	width: 25%;
	height: 360px;
	background-color: lightcoral;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;	/*float이 다른 요소에 영향을 미치지 않도록 하는 것*/
}
.test6 {
	/*column-width: 250px*/
	column-count: 3;
	column-gap: 60px;
	column-rule: 1px solid red;	/*단과 단 사이에 구분선 넣어주기*/
}

.test7 {
	column-count: 3;
	column-rule: 1px solid red;
}
.test7 > h3 {
	column-span: all;
}

.test8 table, td, th{
	border: 1px solid black;
	/*border-collapse: collapse;*/
	border-spacing: 8px 16px;
}
.test8 table {
	width: 100%;
	caption-side: bottom;	/*테이블의 제목을 아래에 배치*/
	table-layout: fixed;
	word-break: break-all;
}
.test8 table > caption {
	text-align: right;		/*테이블 제목을 오른쪽에 배치*/
}

.test8 td,th{
	text-align: left;
	vertical-align: top;
	padding: 6px 12px;
	empty-cells: hide;	/*이건 collapse가 적용된 상태면 소용없다.*/
	height: auto;
}

col.w-60 {
	width: 60px;
}
col.w-120 {
	width: 120px;
}
col.w-240 {
	width: 240px;
}











