@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0; margin: 0; 
}
body {
    background-color: #bad1e8f8;
}
li {
    list-style: none;
}
.out-box  {
    background-color:rgb(236, 235, 236);
    display: flex;
    width : 35rem;
    height: 35rem;
    justify-content: center;
    margin : 0 auto;
    margin-top: 2.6rem;
}
#f1 .inner-box {
    display: flex;
    width: 35rem;
    height: 25rem;
    margin : 0 auto;
    margin-top: 3rem;
    justify-content: center;
    
}
.inner-box .contents {
    width: 7rem;
    height: 25rem;
    font-weight: bold;
    color :rgb(85, 80, 80);
}
.inner-box .contents p {
    margin-bottom : 3rem;
    
}
.inner-box .inputs {
    display: block;
    width: 24rem;
    height: 25rem;
}
.inner-box .inputs input {
    height: 2rem;
    /* margin-bottom : 1rem; */
    border-style: none none dashed none;
    background-color:rgb(236, 235, 236);
}
.inner-box .inputs .margin-bottom {
    margin-bottom : 2px;
}
.inner-box .inputs .margin {
    margin-bottom : 1rem;
}
.inner-box .inputs #message1, #message2, #message3 {
    font-size: small;
    color: darkgray;
    margin-bottom: 2.5rem;
}

.submit-box {
    /* display: flex; */
    padding-left: 2rem;
}
.submit-box #in-submit {
    position: absolute;
    width: 30rem;
    height: 5rem;
    border-style: none;
    font-weight: bold;
    background-color: rgb(198, 222, 178);
}