@charset "UTF-8";
form {
	width: 360px;	/*width를 한 다음에 margin을 auto로 줘야 한다.*/
	margin: 0 auto;	/*좌우에 대해 오토로 줌*/
}


form * {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	display: inline-block;
}

.form-control {
	margin: 0.4em 0;	/*위아래만 여백*/
	width: 100%
}

.form-control .form-label {
	width: 100%;
	color: gray;
	font-size: 0.8em;
	margin-bottom: 0.4em;
}
.form-control .form-input {
	width: 100%;
	border-style: none;
	online-style: none;
	padding: 0.4em 0.2em;
	border-radius: 2px;
}

.form-input:focus{
	outline-color: gray;
	
}

button {
	background-color: #EFEFEF;
	border-style: none;
	padding: 1em;
}

.btn{
	position: relative;
	width: 100%;
	background-color: lightgray;
	border-radius: 2px;
}
.btn:hover {
	background-color: #d9d3d0;
	cursor: pointer; 	/*커서를 대면 바뀐다.*/
}
.btn:active {	/* active 이용해서 클릭할 때 효과 주기*/
	position: relative;
	top: 1px;			/* 원래의 위치에서 1px만큼 이동 */
	left: 1px;
}


